---
- name: "nvim :: ubuntu :: add neovim ppa"
  ansible.builtin.apt_repository:
    repo: "ppa:neovim-ppa/unstable"
    state: present
    update_cache: yes
  become: true

- name: "nvim :: ubuntu :: install neovim"
  ansible.builtin.apt:
    name: neovim
    state: present
  become: true

- name: "nvim :: ubuntu :: clone lazy vim"
  ansible.builtin.git:
    dest: ~/.config/nvim
    repo: https://github.com/LazyVim/starter
  become: true
